.navbar {
    margin-bottom: 0;
}


.row {
    .content-left {
        height: calc(100vh - 50px);
        background-color: #eee;
        padding: 15px;
    }

    .content-right {

        .breadcrumb {
            margin: 0 -15px 5px -15px;
            margin-bottom: 15px;

            span {
                color: #999999;
            }
        }

        .input-group {
            margin: 15px 0;
        }


    }
}