.navbar {
    margin-bottom: 0;
}


.row {
    .content-left {
        height: calc(100vh - 50px);
        background-color: #eee;
        padding: 15px;
    }

    .content-right {

        .breadcrumb {
            margin: 0 -15px 5px -15px;

            span {
                color: #999999;
            }
        }

        .navbar-form {
            margin: 15px 0 15px -15px;
        }

        .table {
            td {
                height: 80px;
                line-height: 80px;
            }

            .btn-td {
                padding-left: 30px;

                .btn {
                    margin: 0 2px;
                }
            }


        }
    }
}