body {
    background-image: url('../imgs/m1.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    .form-signin {
        width: 300px;
        margin: 200px auto;

        h2 {
            margin: 10px 0;
        }

        .remember {
            font-size: 12px;
            display: flex;
            align-items: center;
        }

        input {
            margin: 10px 0;
        }
    }
}