html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url('../imgs/m2.jpg');
    background-size: 100% 100%;
    .form-signin{
        width: 300px;
        margin: 50px auto 0;
        input,select{
            margin-bottom: 15px;
        }
        .search{
            overflow: hidden;
            .form-group{
                float: left;
                input{
                    margin-bottom: 0;
                    width: 204px;
                }
            }
            .btn-success{
                float: left;
            }
        }
    }
}
